<div class="box1">
    <h2>welcome to

    <span class="fas fa-cocktail" aria-hidden="true"></span>
    <strong>リキューる</strong>

    </h2>

   
    <div class="box1">
    <p>成人したものだけが、楽しめる飲み物「お酒」</p>
    <p>このアプリはお酒の魅力を知る人と知らぬ人を繋ぐ隠れ家的なSNSです。</p>
    <p>１人でも多くの方が、自分に合った「一杯」に出会えたら幸いです。</p>
    <p>さあ、沢山のお酒を共有しましょう</p>

    </div>
 </div>